.app__form {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.app__wrapper_info h2 {
  font-size: 1.2rem;
  margin-bottom: 5px;
  color: #333;
}

.container p {
  font-size: 1rem;
  margin-bottom: 10px;
  color: #666;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 15px;
}

select {
  width: 120%;
  padding: 14px;
  border: 2px solid #ddd;
  border-radius: 10px;
  margin-top: 10px;
}

footer {
  margin-top: 20px;
}

#order-button {
  font-size: 1rem;
  padding: 10px 40px;
  background-color: orangered;
  color: white;
  border: 1px solid orangered;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#order-button:hover {
  background-color: #000000;
}

.meal-type-slider {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  background: linear-gradient(to right, #ddd 50%, #ddd 50%);
  border-radius: 20px;
  overflow: hidden;
}

.slider-button {
  flex: 1;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s ease;
}

.lean {
  background: linear-gradient(to right, orangered 50%, #ddd 50%);
}

.bulk {
  background: linear-gradient(to right, #ddd 50%, orangered 50%);
}