/* homepage.css */

  .plans-wrapper {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .plans-wrapper h1 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .plans-wrapper h2 {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .meal-box-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    gap: 20px; /* Adjust the gap as needed */
  }
  
  .meal-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }

  .meal-image {
    max-width: 50%; /* Set the maximum width to 100% */
    height: auto; /* Maintain aspect ratio */
  }
  
  .meal-description {
    text-align: left;
  }
  
  .meal-description h3 {
    font-size: 1.2rem;
    margin-bottom: 5px;
  }
  
  .meal-description p {
    font-size: 1rem;
  }
  
  .plans-wrapper button {
    font-size: 1rem;
    padding: 10px 20px;
    background-color: #bf6600;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
  }
  